
:root {
    /* --teal: #6ac5b9;
    --purple: #f86358;
    --yellow: #faf892; */

    --primary: #2c3653;
    --secondary: #dab1ac;
    --tertiary: #462a6b;
    --four:  #457470;

    --white: #fff;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    color: var(--white);
    background: url('../img/mountains.jpg') no-repeat center fixed;
    background-size: cover;
}


/* nav styles */

nav ul li a {
    color:  var(--primary); 
    text-decoration: none;
    
}

nav ul li a:hover {
    color:  var(--secondary);
}


h2 {
    color: var(--secondary);
    line-height: 32px;
}

#about {
    clear: both;
    padding-top: 100px;
    margin-left: 10%;
    width: 80%;
    max-width: 1100px;
    line-height: 24px;
}

#about-text {
    border-radius: 8px;
    padding: 18px;
    /* background-color: rgba(44, 54, 83, 0.486) */
    background-color: #4574705d;
}
