
:root {
    /* --teal: #6ac5b9;
    --tomato: #fd4134;
    --yellow: #faf880; */

    --primary: #366e52;
    --secondary: #fdc4ae;
    --tertiary: #fff;

    --almostblack: #222222;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: var(--tertiary);
    background-color: var(--tertiary)
}


/* nav styles */

nav ul li a {
    color:  var(--primary); 
    text-decoration: none;
    
}

nav ul li a:hover {
    color:  var(--secondary);
}


#contact {
    padding: 16px;
    clear: both;
}


img {
    width: 600px;
    border-radius: 30px;
}

li {
    list-style-type: none;
    line-height: 36px;
}

a {
    color: var(--primary);
    text-decoration: none;
}

h2 {
    font-size: 30px;
    padding-left: 30px;
    color: var(--primary);
}


a:hover {
    font-weight: 900;
}

i {
    color: var(--secondary);
    margin-right: 20px;
}

.icon {
    font-size: 32px;
    vertical-align: middle;
}