
:root {
    --teal: #6ac5b9;
    --tomato: #fd4134;
    --yellow: #faf880;
    --almostblack: #222222;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    color: var(--tomato);
    background-color: #e9e9e9;
}


#contact {
    width: 100%;
}

.left-side{
  width: 50%;
  float:left;
}

.right-side{
  width: 50%;
  float:left;
}

img {
    width: 600px;
    border: 10px solid var(--teal);
}

li {
    list-style-type: none;
    line-height: 30px;
}

a {
    color: var(--tomato);
    text-decoration: none;
}

a:hover {
    color: var(--almostblack);
}

i {
    color: var(--teal);
    margin-right: 20px;
}

.icon {
    font-size: 24px;
    vertical-align: middle;
}