
:root {
    /* --teal: #6ac5b9;
    --tomato: #fd4134;
    --yellow: #faf880; */

    --primary: #2c3653;
    --secondary: #dab1ac;
    --tertiary: #462a6b;
    --four:  #457470;

    --white: #fff;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: var(--secondary);
    background-color: var(--primary)
}


/* nav styles */

nav ul li a {
    color:  var(--secondary); 
    text-decoration: none;
    
}

nav ul li a:hover {
    color:  var(--white);
}


.contact {
  width: 100%;
  display: grid;
  grid-template-columns: 60%;
}

.contact-child {
    margin: 0 auto;
}

img {
    width: 80%;
    padding-top: 40px;
    padding-bottom: 40px;
}

li {
    list-style-type: none;
    line-height: 36px;
}

a {
    color: var(--white);
    text-decoration: none;
}

h2 {
    padding-left: 20px;
    font-size: 30px;
    color: var(--secondary);
}


a:hover {
    font-weight: 900;
}

i {
    color: var(--secondary);
    margin-right: 20px;
}

.icon {
    font-size: 32px;
    vertical-align: middle;
}