
/* nav styles */
nav {
    float: right;
    padding-right: 20px;
    text-align: center;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: block;
    float: left;
}

nav li a {
    display: block;
    padding: 12px;
}

nav li a:hover {
    font-weight: 600;
}
